body {
    font-family: Arial, sans-serif;
    background-color: #f5f2f2;
    margin: 100;
    padding: 200;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #beb8b8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    font-size: 1.2em;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}

#content {
    margin-top: 20px;
}
